.category span{
    /* min-height: 5px; */
    /* margin-left: 10px; */
    font-size: 14px;
    font-weight: 500;
}
.category img{
    width: 50px;
}
.category:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}