.container {
    margin: 40px;
    border: 5px dashed pink;
 }
 .content {
    font-size: 15px;
    text-align: center;
  }
  .error{
   color:red;
 }

/* element css are not applied in css module */
/*  div{
    color: orange;
 } */

 #abc{
    background-color: green;
 }