/* .footer{
    background-color: rgb(54, 41, 67);
    color: white;
    text-align: center;
    font-weight: bolder;
    padding: 10px;
} */
/* .footerbg{
    background-color: darkgrey;
    font-size: 20px;
} */